<!DOCTYPE html>
<html lang="en">
  
    <%- include('./include/head.ejs') %>

  <body>
    <!-- include the navigation partial -->
    <%- include('./include/navbar.ejs') %>
      <div class="uk-container">
        <div class="uk-card uk-card-default uk-card-body">
          <h1 class="uk-heading-small uk-center-top">Login</h1>
          <form method="POST" action="/">
            <fieldset class="uk-fieldset">
              <legend class="uk-legend">Email</legend>
              <div class="uk-margin">
                <input class="uk-input" name="correo" type="email" rows="5" placeholder="Ingrese su email">
              </div>
              <legend class="uk-legend">Contraseña</legend>
              <div class="uk-margin">
                <input class="uk-input" name="password" type="password" rows="5" placeholder="Ingrese la Contraseña">
              </div>
              <div class="uk-margin">
                <button type="submit" class="uk-button  button-primary">Login</button>
              </div>
            </fieldset>
          </form>
          <button type="uk-button" class="uk-button  button-primary"><a href = "registro">Registrarse</a></button>
        </div>

      </div>
  </body>

</html>